<div class="row">
    <div class="col-md-8">
   

  <div class="card" *ngIf="productobj">

    <img
      [src]="productobj.image"
      class="card-img-top"
      height="300"
      alt="Product Image">

    <div class="card-body">
        

      <h3>{{ productobj.pname }}</h3>

      <p>
        <strong>Status :</strong>
        {{ productobj.pstatus }}
      </p>

      <p>
        <strong>Price :</strong>
        ₹{{ productobj.price }}
      </p>

      <p>
        <strong>Category :</strong>
        {{ productobj.category }}
      </p>

      <p>
        <strong>Description :</strong>
        {{ productobj.description }}
      </p>

      <p>
        <strong>Can Return :</strong>
        {{ productobj.canReturn ? 'Yes' : 'No' }}
      </p>

    </div>

    <div class="card-footer">

      <button
        class="me-3"
        (click)="redirectToEDit()"
      
        mat-raised-button
        color="primary"
        >
        Edit
      </button>

      <button
        (click)="onRemove()"
        class="me-6"
        mat-raised-button
        color="warn">
        Remove
      </button>

    </div>

  </div>
  </div>
  </div>