
<body>
<div
 style="margin-top: 20px; margin-left:20px;">
  <button
    mat-raised-button
    color="primary"
    routerLink="/product">
    ➜ Go to Products
  </button>
</div>

<div style="margin-top: 20px; margin-left:35px;">
  <button
    mat-raised-button
    color="btn-green"
    routerLink="/user">
    ➜ Go to User
  </button>
</div>
<div style="margin-top: 20px; margin-left:45px;">
  <button
    mat-raised-button
    color="warn"
    routerLink="/fair">
    ➜ Go to Fairs
  </button>
</div>
</body>