/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.user-dashboard{
    background-color: burlywood;
    min-height: 100vh;
    padding:20px;
}
.products-dashboard{
      background-color:aquamarine;
    min-height: 100vh;
    padding:20px;

}